<h1 class="text-center">Productos</h1>

<p>

    CarritoId: {{this.carritoId}}
</p>

<!-- Contenedor donde se mostrarán los productos -->
{{!-- <div id="productos-lista" class="product-container">
    {{#each products}}
    <div class="product-card" data-id="{{id}}">
        <strong>Title:</strong> {{this.title}} <br/> 
        <strong>Description:</strong> {{this.description}} <br/>
        <strong>Code:</strong> {{this.code}} <br/>
        <strong>Price:</strong> ${{this.price}} <br/>
        <strong>Stock:</strong> {{this.stock}} <br/>
        <strong>Category:</strong> {{this.category}} <br/>
        <p></p>
    </div>
    {{/each}}
</div> --}}

{{#if isValid}}
<div class="container mt-4">
    {{#each docs}}
    <div class="card mb-3 p-3 border-primary">
        <p class="fw-bold">Title: {{this.title}} &nbsp; Description: {{this.description}}</p>
        <p>Code: <span class="badge bg-secondary">{{this.code}}</span> &nbsp; Price: <span class="badge bg-success">{{this.price}}</span></p>
        <p>Stock: <span class="fw-bold">{{this.stock}}</span> Category: <span class="fw-bold">{{this.category}}</span> </p>
        <p>Status: {{#if status}}<span class="fw-bold">Disponible</span>{{else}}<span class="fw-bold">No disponible</span>{{/if}}</p>
        <p>CarritoId: {{this.carritoId}}</p>

        <button 
            class="btn btn-success" 
            onclick="agregarAlCarrito('{{this._id}}', '{{carritoId}}')"
        >Agregar al carrito</button>

    </div>
    {{/each}}
</div>

<div class="container text-center mt-3">
    {{#if hasPrevPage}}
        <a href="{{this.prevLink}}" class="btn btn-primary">&laquo; Anterior</a>
    {{/if}}
    <span class="mx-3 fw-bold">{{this.page}}</span>
    {{#if hasNextPage}}
        <a href="{{this.nextLink}}" class="btn btn-primary">Siguiente &raquo;</a>
    {{/if}} 
</div>

{{else}}
<div class="container text-center mt-4">
    <h1 class="text-danger">No hay productos para mostrar</h1>
</div>
{{/if}}

<script src="/js/carrito.js"></script>